body {
    margin: 0;
    background: #07090e;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 2px;
}

.grid > div::after {
    content: attr(data-title);
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    color: white;
    background: rgb(0, 0, 0, 0.8);
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

.grid > div {
    display: flex;
    position: relative;
    height: auto;
    width: auto;
}

.grid > div:hover::after {
    opacity: 0.8;
    backdrop-filter: hue-rotate(40deg) blur(1vmax);
}

img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
}
